body {
    background-color: black;
    color: white;
}

#drink-choices {
    color: black;
    height: 500px;
}

.active{
    background-color: #FFBF00;
    color: black
}

.card-panel{
    color: black
}